#index {
  .post-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: var(--content-width);
    margin: var(--spacing-xl) auto;
    margin-top: calc(var(--nav-height) + var(--spacing-xl));
    z-index: 1;
    background-color: var(--color-light);
  }

  .post-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxl);
    width: 100%;
  }

  @media screen and (max-width: 574px) {
    .post-list {
      gap: var(--spacing-xl);
    }
  }
}

#post {
  .post {
    position: relative;
    width: 100%;

    &--hide {
      .post__content, .post__details {
        opacity: .3;
      }
    }

    &--admin {
      @media screen and (max-width: 940px) {
        margin-bottom: var(--spacing-lg);
      }
    }

    &__content {
      max-width: 100%;
    }

    &__edit {
      position: absolute;
      display: flex;
      gap: var(--spacing-sm);
      right: -100px;
      top: 0;
      flex-direction: column;

      @media screen and (max-width: 940px) {
        right: auto;
        top: auto;
        bottom: -25px;
        flex-direction: row;
      }
    }

    &__image {
      height: auto;
      width: 100%;
      max-width: 100%;
    }

    &__details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: var(--spacing-md);
      margin-top: var(--spacing-sm);
    }

    &__title {
      font-family: var(--accent-font);
      font-size: var(--font-size-sm);
    }

    &__date {
      font-family: var(--accent-font);
      font-size: var(--font-size-sm);
      text-align: right;
    }

    &__video {
      width: 100%;
      height: 360px;

      @media screen and (max-width: 670px) {
        height: 52vw;
        max-height: 360px;
      }
    }

    &__video-wrapper {
      position: relative;
    }

    &__video-inner {
      position: absolute;
      inset: 0;
      background: radial-gradient(circle, rgba(0, 0, 0, .25) 0%, rgba(0, 0, 0, 0.55) 100%);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: var(--spacing-md);

      &.dark {
        background: radial-gradient(circle, rgba(0, 0, 0, .15) 0%, rgba(0, 0, 0, 0.55) 100%);
      }
    }

    &__video-declined {
      padding: var(--spacing-md);
      display: flex;
      flex-direction: column;
      gap: var(--spacing-sm);
      background-color: var(--color-light);
    }

    &__quote {
      margin-bottom: var(--spacing-sm);
    }

    &__markdown {
      p, h1, h2, h3, h4, h5, h6, li, ul, ol, table {
        font-family: var(--primary-font);
        font-weight: 500;
      }

      h1, h2, h3, h4, h5, h6 {
        font-weight: 600;
        margin-bottom: var(--spacing-md);
      }

      h6 {
        font-size: 3em;
      }

      p, a, span, li {
        font-size: 1rem;
        line-height: 1.25rem;
        margin: var(--spacing-sm) 0;
      }

      li {
        margin: var(--spacing-xs) var(--spacing-md);
      }

      ul, ol {
        margin: var(--spacing-md) 0;
      }

      a {
        font-family: var(--primary-font);
        text-decoration: underline;
        font-weight: 500;
      }

      @media (prefers-color-scheme: dark) {
        a {
          color: var(--color-primary);
        }
      }

      @media (prefers-color-scheme: light) {
        a {
          color: var(--color-text-on-primary);
          background-color: var(--color-primary);
          padding: 0 var(--spacing-xsm);
        }
      }

      strong {
        font-weight: var(--font-bold);
      }

      em {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: -3px;
          right: -3px;
          transform: skewX(-5deg);
          background-color: rgba(var(--color-primary-2-rgb), 0.25);
        }
      }

      code {
        font-family: var(--accent-font);
        font-size: var(--font-size-sm);
        font-weight: 400;
      }

      hr {
        outline: none;
        border: none;
        height: 2px;
        background-color: var(--color-grey-light);
        margin: var(--spacing-md) 0;
      }

      img {
        max-width: 100%;
      }

      pre {
        background-color: var(--color-grey-light);
      }

      blockquote {
        background-color: var(--color-grey-light);
      }
    }
  }
}

#nav {
  .container {
    position: fixed;
    left: 0;
    padding: 0 var(--spacing-sm);
    box-sizing: border-box;
    container-type: inline-size;
    container-name: nav;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    margin: var(--spacing-sm) 0;
  }

  .content {
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: var(--spacing-sm);
    font-family: var(--accent-font);
    font-weight: 800;
  }

  .header {
    font-size: 1.66rem;
    color: var(--color-dark);
    font-style: italic;
    text-decoration: none;
  }

  .user {
    a {
      font-family: var(--accent-font);
      font-size: var(--font-size-sm);
      font-weight: var(--font-thin);
      color: var(--color-text);
    }
  }
}

#menu {
  .menu {
    position: fixed;
    left: 0;
    top: 40%;
    display: flex;
    flex-direction: column;
    z-index: 1;

    &__link {
      font-family: var(--accent-font);
      font-size: 1.2rem;
      text-decoration: none;
      color: var(--color-text);
      padding: var(--spacing-xsm) var(--spacing-md) var(--spacing-xsm) var(--spacing-sm);
      text-transform: capitalize;

      &--selected {
        background-color: var(--color-primary);
        color: var(--color-text-on-primary);
      }
    }

    @media screen and (max-width: 940px) {
      display: none;
    }
  }
}

#post-form {
  .post-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: var(--content-width);
    margin: var(--spacing-xl) auto;
    margin-top: calc(var(--nav-height) + var(--spacing-xl));
    z-index: 1;
    background-color: var(--color-light);

    &--loading {
      opacity: .4;
    }
  }

  .post__title {
    font-weight: var(--font-bold);
    font-family: var(--accent-font);
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    width: var(--content-width);
    max-width: var(--content-width);
  }

  .input {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);

    &--disabled {
      cursor: not-allowed;
      pointer-events: none;

      .input__field, .input__radio-group {
        opacity: .6;
      }
    }

    &__label {
      font-family: var(--accent-font);
      font-weight: var(--font-bold);
    }

    &__field {
      font-family: var(--accent-font);
      color: var(--color-dark);
      padding: var(--spacing-xsm) var(--spacing-sm);
      background-color: var(--color-light);
      border: 2px solid var(--color-dark);
      border-radius: var(--border-radius);
      box-sizing: border-box;
      max-width: var(--content-width);
    }

    &__radio-group {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }

    &__radio-item {
      display: flex;
      align-items: center;
      gap: 4px;
      font-family: var(--accent-font);
      align-items: center;

      input[type='radio'] {
        margin-top: 0;
      }
    }
  }

  .button {
    color: var(--color-dark);
    background-color: var(--color-grey-light);
    font-weight: var(--font-bold);
    padding: var(--spacing-sm);
    border: 2px solid var(--color-dark);
    border-radius: var(--border-radius);
    transition: all .3s var(--ease-out);
    cursor: pointer;

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-text-on-primary);

      @media (prefers-color-scheme: dark) {
        border-color: var(--color-primary);
      }
    }

    &:active {
      background-color: var(--color-light);
    }
  }

  .preview-upload {
    border-top: 1px solid var(--color-grey);
    padding-top: var(--spacing-sm);
    display: flex;
    flex-direction: row;
    gap: var(--spacing-sm);

    &__img {
      max-width: 250px;
      height: fit-content;
      width: fit-content;
    }
  }
}

#login {
  position: relative;
  z-index: 1;
  display: flex;
  height: 100%;
  width: 100%;
  max-width: var(--content-width);
  margin: var(--spacing-sm) auto;
  margin-top: calc(var(--nav-height) + var(--spacing-xl));

  .login {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);

    &__form-wrapper {
      position: relative;
    }

    &__form {
      max-width: 240px;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-sm);

      &--loading {
        opacity: .16;
        pointer-events: none;
      }
    }

    &__button-group {
      display: flex;
      gap: var(--spacing-sm);
    }

    &__input {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-sm);
      margin-top: var(--spacing-md);

      input {
        border-radius: var(--border-radius);
        font-family: var(--accent-font);
      }

      input:disabled {
        background-color: var(--color-light);
        color: var(--color-text);
      }
    }

    &__input-label {
      font-family: var(--accent-font);
      font-size: var(--font-size-sm);
    }

    &__input-error {
      font-family: var(--accent-font);
      font-size: var(--font-size-sm);
      color: var(--color-red);
    }

    &__input-success {
      font-family: var(--accent-font);
      font-size: var(--font-size-sm);
      color: var(--color-text-on-primary);
      background-color: var(--color-primary-2);
      padding: var(--spacing-xsm);
      border-radius: var(--border-radius);
    }

    &__input-message {
      position: absolute;
      top: var(--spacing-xl);
      left: var(--spacing-xl);
      font-family: var(--accent-font);
      color: var(--color-text);
    }
  }
}

#cookie-popup {
  position: fixed;
  inset: 0;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;

  .cookie-panel {
    box-sizing: border-box;
    background-color: var(--color-light);
    border: 1px solid var(--color-grey-light);
    width: var(--content-width);
    padding: var(--spacing-lg);

    &__text {
      color: var(--color-text);
      font-family: var(--accent-font);
      font-size: var(--font-size-sm);
      line-height: 1.25rem;
      margin-bottom: var(--spacing-sm);
    }

    &__button-group {
      display: flex;
      margin-top: var(--spacing-md);
      gap: var(--spacing-sm);
    }
  }
}
