@import "reset.scss";

:root {
  --color-dark: #000;
  --color-light: rgb(255, 255, 255);
  --color-grey: #eaeaea;
  --color-grey-light: #f6f6f6;
  --color-primary: #7fffd4;
  --color-primary-2: #00ffd0;
  --color-text: var(--color-dark);
  --color-text-on-primary: var(--color-dark);
  --color-red: #ef4d1b;

  --color-primary-2-rgb: 0, 255, 208;

  --spacing-xsm: .25rem; /// 4px spacing-1
  --spacing-sm: .5rem; // 8px spacing-2
  --spacing-md: 1rem; // 16px spacing-3
  --spacing-lg: 1.5rem; // 24px spacing-4
  --spacing-xl: 2rem; // 32px spacing-5
  --spacing-xxl: 4rem; // 32px spacing-6

  --block-spacing-sm: 20px;
  --block-spacing-md: 40px; // spacing-6
  --block-spacing-lg: 60px;
  --block-spacing-xl: 80px;

  --nav-height: 32px;
  --content-width: 640px;

  // --primary-font --> Are avaliable through dynamic font loader
  // --accent-font --> Are avaliable through dynamic font loader

  --border-radius: .25rem;

  --font-size-sm: .85rem;

  --font-bold: 600;
  --font-thin: 300;

  /* Cubic-Bezier */
  --ease-out: cubic-bezier(0, 0.7, 0.4, 1);
}

@media (prefers-color-scheme: dark) {
  #__next {
    --color-dark: #fff;
    --color-light: rgb(8, 8, 8);
    --color-grey: #383838;
    --color-grey-light: #181818;
    --color-primary: #7fffd4;
    --color-text: var(--color-dark);
    --color-text-on-primary: var(--color-light);
  }
}

html {
  position: relative;
  display: flex;
  font-family: var(--primary-font);
  font-size: 16px;
}

body {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  line-height: 1.22;
  min-height: 100vh;
  box-sizing: border-box;
}

#__next, .app {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  color: var(--color-text);
}

.app {
  position: relative;
  padding: var(--spacing-sm);

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--color-light);
    z-index: 0;
  }
}

main {
  background-color: var(--color-light);
  height: fit-content;
}

h1 {
  font-family: var(--accent-font);
  font-size: 1.5rem;
}

h2 {
  font-family: var(--accent-font);
  font-size: 1.2rem;
}

h3 {
  font-family: var(--accent-font);
  font-size: 1.0rem;
  font-weight: var(--font-bold);
}

p {
  font-family: var(--primary-font);
}

#app {
  position: relative;
}

button {
  font-family: var(--accent-font);
  font-size: var(--font-size-sm);
  color: var(--color-dark);
  border: 1px solid var(--color-grey);
  background-color: var(--color-grey-light);
  cursor: pointer;
  padding: var(--spacing-xsm) var(--spacing-sm);

  &.primary {
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}
